services:
    CleverAge\ProcessBundle\Task\:
        resource: '../../../Task/*'
        autowire: true
        public: true
        shared: false
        tags:
            - { name: monolog.logger, channel: cleverage_process_task }

    CleverAge\ProcessBundle\Task\Cache\:
        resource: '../../../Task/Cache\*'
        arguments:
            $cache: '@cache.app'
