parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - src/Resources/tests/*
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
